@font-face {
    font-family: 'Comfortaa300';
    src: url('../../assets/Comfortaa300.ttf');
}
.items {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    background-color: #404040;
}
.item {
    font-family: 'Comfortaa300';
    cursor: pointer;
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: #1E1F21;
    text-align: right;
    padding: 10px;
    border-radius: 3px;
    color: #DDDCDD;
    align-items: center;
    min-width: 140px;
    min-height: 80px;
}
.weekend {
    background-color: #282a2b;
}
.currentDay {
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 40%;
    background-color: rgb(255, 0, 0);
    color: #1E1F21;
    box-shadow: 0.9px 0.5px 6px 2px rgb(255, 0, 0);
    color: #DDDDDD;
}
.event {
    display: flex;
    flex-direction: column;
    margin: unset;
    font-size: 13px;
    list-style-type: none;
    text-align: left;
    list-style-position: inside;
}
.ev_btn {
    font-family: 'Comfortaa300';
    text-align: left;
    cursor: pointer;
    position: relative;
    left: -42px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 114px;
    border: unset;
    background: unset;
    color: #DDDDDD;
    margin: 0;
    padding: 0;
    text-align: left;
    top: -5px;
}
.ev_btn:hover {
    color: #918f8f;
}